body{
    margin: 4% 7%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: hsl(229, 6%, 66%);
}
header {
    padding:0 30%;
    text-align: center;
    width: 40%;
}
h1 {
    font-size: 200%;
    margin-top: -20px;
}
h3 {
    width: 60%;
    text-align: left;
}
p {
    margin-top: 2%; 
    font-size: 13px;
}
h1, h3 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}
.top-p {
    font-weight: 200;
    font-size: 200%;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.middle {
    display: flex;
    flex-direction: column;
}
section {
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    padding: 1% 2% 2% 3%;
    margin: 2% 4%;
    min-width: 300px;
    max-width: 380px;
    border-radius: 3%;
    -webkit-box-shadow: 0px 14px 22px -4px rgba(76,78,97,0.36); 
    box-shadow: 0px 14px 22px -4px rgba(76,78,97,0.36);
}
.Supervisor, .Calculator, .column {
    width: calc((100% / 3) - 4px);
    min-width: 300px;
    max-width: 350px;
    margin: 1%;
} 
.TeamBuilder, .Karma {
    padding: 3% 8%;
    margin: 3% 2%;
}
.Supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}
.TeamBuilder {
    border-top: 4px solid hsl(0, 78%, 62%);
}
.Karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}
.Calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}
.icon {
    display: flex;
    justify-content: flex-end;
} 
@media all and (max-width: 1120px) {
    body {
        margin-top: 5%;
        margin-left: 0;
    }
    header {
        padding: 0 15%;
        width: 70%;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    .middle {
        display: flex;
        flex-direction: row;
        margin:0 4%;
    }
}
@media all and (max-width: 780px) {
    body {
        margin-top: 5%;
    }
    header {
        padding: 0;
        width: 100%;
    }
    main {
        width: 100%;
    }
    .middle {
        flex-direction: column;
    }
}