body {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #f3f3f3;
    font-family: 'Red Hat Display', sans-serif;
}
main {
    margin: 0 20%;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 20px;
    color: #fb4c47;
    margin-top: 40px;
    margin-bottom: -20px;
}
h4, ul{
    font-size: 18px;
}
p {
    font-size: 15px;
    font-weight: 400;
    color: #4B4F51;
}
h1, h2, h3, h4, button, ul {
    text-transform: capitalize;
    font-weight: 700;
}
h1, h2 {
    color: #035755;
}
header, ul {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    flex-direction: row;
    font-size: 16px;
}
li {
    margin-right: 35px;
}
a {
    text-decoration: none;
    color: #4B4F51;
}
a:hover {
    color: #fb4c47;
}
.block {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
}
.block .text {
    display: inline-block;
    width: 46%;
    margin: 0 4%;
    text-align: left;
}
.first img {
    display: flex;
    width: 50%;
}
.second img {
    display: flex;
    width: 50%;
}
button {
    color: #f3f3f3;
    background-color: #fb4c47;
    border: 1px solid #fb4c47;
    border-radius: 30px;
    width: 150px;
    height: 40px;
}
button:hover {
    background-color: #ca3f3a;
}
#symptoms img {
    width: 80%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.card {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 2%;
    margin: 2%;
}
.block {
    padding-bottom: 3%;
    margin: 3%;
}
div img {
    width: 50%;
}
.small {
    width: calc(100% / 4);
    border-bottom: 3px solid #fb4c47;
}

@media only screen and (max-width: 1240px) {
  main {
    margin: 0 10%;
  }
}

@media only screen and (max-width: 980px) {
  main {
    margin: 0 5%;
  }
  .small {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 720px) {
  main {
    margin: 0;
  }
  .small {
    width: 100%;
  }
  header, ul {
    flex-direction: column;
  }
}